body{
    font-family: 'Courier New', Courier, monospace;

}
#navbarSupportedContent{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    font-weight: bold;
}
.tablaDatos{
    margin-top: 25px;
    margin: 5%;
}
.botones{
    width: auto;
    border: 1px solid black;
    border-radius: 15px;
    margin: auto;
    text-align: center;
    padding: 5px;
    display: inline-block;
}
.botones:hover{
    background-color: rgba(248, 202, 51, 0.767);
}

