<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" src="main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <title>BICISURJC</title>
</head>

<body>
<!--ENCABEZADO-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="nav-link link-light" href="/">URJC</a>
            <a class="nav-link link-light" href="/">BICIS URJC</a>
            <form action="/estaciones/busqueda" class="d-flex">
                <input class="form-control me-2" type="search" name="num_serie" placeholder="Búsqueda" aria-label="Search">
                <button class="btn btn-outline-warning mx-1" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<!---TABLA-->

<div>
    <h2>Búsqueda de estaciones</h2>
    <p>En esta tabla se muestran los resultados de su búsqueda:</p>
    <div style="height: 200px;overflow: scroll; overflow-x:hidden">
        <table class="table table-condensed">
            <thead>
            <tr>

                <th>Num_Serie</th>
                <th>Fecha de creacion</th>
                <th>Capacidad</th>
                <th>Longitud</th>
                <th>Latitud</th>
                <th>Estado</th>
            </tr>
            </thead>

            <tbody>
            {{#busqueda}}
            <tr>
                <td>{{num_serie}}</td>
                <td>{{entryDate}}</td>
                <td>{{size}}</td>
                <td>{{lon}}</td>
                <td>{{lat}}</td>
                <td>{{state}}</td>
            </tr>
            {{/busqueda}}
            </tbody>
        </table>
    </div>
</div>

<!---Botones-->
<div class="botones">
    <form action="/añadirEstacion">
        <p>Añadir estacion:</p>
        <input type='text' pattern="[A-Za-z0-9]{1,16}" name='num_serie' placeholder="Numero de serie"/>
        <input type='number' name='size' placeholder="Capacidad"/>
        <input type='number' name='glon' placeholder="Grados Longitud"/>
        <input type='number' name='mlon' placeholder="Minutos Longitud"/>
        <input type='number' name='slon' placeholder="Segundos Longitud"/>
        <input type='number' name='glat' placeholder="Grados Latitud"/>
        <input type='number' name='mlat' placeholder="Minutos Latitud"/>
        <input type='number' name='slat' placeholder="Segundos Latitud"/>
        <select name="estado" placeholder="Estado">
            <option value="ACTIVA">ACTIVA</option>
            <option value="INACTIVA">INACTIVA</option>
        </select>
        <input type='submit' value='Enviar'/>
    </form>
</div>
<div class="botones">
    <form action="/eliminarEstacion">
        <p>Eliminar estacion:</p>
        <input type='text' pattern="[A-Za-z0-9]{1,16}" name='num_serie' placeholder='Numero de serie'/>
        <input type='submit' value='Enviar'/>
    </form>
</div>
<div class="botones">
    <p>Modificar Coordenadas</p>//desde la lista de estaciones y hacia nueva pantalla
</div>

<!-- Footer -->
<div id="footer" class="pt-5">
    <footer class="text-center text-lg-start bg-dark text-muted pt-3">
        <!-- Right -->
        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="bi bi-bicycle"></i>Bicis URJC
                        </h6>
                        <p>
                            Esta página ha sido desarrolada por alumnos de la asignatura de Sistemas Distribuidos de la Universidad Rey Juan Carlos por lo tanto esta protegida por los correspondientes derechos de autor que se recogen en el Art. 20 ,CONSTITUCIÓN ESPAÑOLA. Según este artículo, se reconocen y se protegen los derechos relativos a la creación literaria, artística, científica o técnica, entre otros.
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Sedes
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Madrid</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Málaga</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Portugal</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Francia</a>
                        </p>
                    </div>
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Desarroladores
                        </h6>
                        <p>
                            <i class="bi bi-envelope me-3"></i>
                            j.gonzalezca.2017@alumnos.urjc.es
                        </p>
                        <p>
                            <i class="bi bi-envelope me-3"></i>
                            e.fernandezor.2017@alumnos.urjc.es
                        </p>
                        <p>
                            <i class="bi bi-envelope me-3"></i>
                            a.rodriguezcl2017@alumnos.urjc.es
                        </p>
                        <p>
                            <i class="bi bi-envelope me-3"></i>
                            j.salamancas.2018@alumnos.urjc.es
                        </p>
                    </div>
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Contacto
                        </h6>
                        <p><i class="bi bi-house me-3"></i> Madrid, España</p>
                        <p>
                            <i class="bi bi-envelope me-3"></i>
                            info@bicisurjc.com
                        </p>
                        <p><i class="bi bi-phone me-3"></i> +34 634 567 88</p>
                        <p><i class="bi bi-printer me-3"></i> +34 634 567 89</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2021 Copyright:
            <a class="text-reset fw-bold" href="https://mdbootstrap.com/">bicisurjc.com</a>
            <!-- Right -->
            <div class="d-flex justify-content-end">
                <i class="bi bi-facebook mr-3"></i>
                <i class="bi bi-twitter mr-3"></i>
                <i class="bi bi-google mr-3"></i>
                <i class="bi bi-instagram mr-3"></i>
                <i class="bi bi-linkedin mr-3"></i>
                <i class="bi bi-github"></i>
            </div>
        </div>

        <!-- Copyright -->
    </footer>
    <!-- Footer -->
    <!-- Footer -->
</div>
<!-- Footer -->

</body>
</html>